/*  Calculadora   */

#calculadora{
    position: fixed;
    background-color: #44475a;
    width: 250px;
    height: 350px;
    top: 30%;
    left: 50%;
    margin-left: -125px;
    display: none;
    border-radius: 10px;
    box-shadow: rgb(66, 63, 63) 2px 2px 2px;
}
#calc_close{
    position: absolute;
    width: 40px;
    left: 100%;
    margin-left: -40px;
    border-radius: 10px;
}
#screen{
    position: relative;
    width: 220px;
    height: 60px;
    left: 11px;
    top: 45px;
    text-align: end;
    font-size: 20pt;
    color: gray;
}
.buttonnum{
    position: relative;
    top: 70px;
    left: 30px;
    width: 45px;
    height: 45px;
}
#buttonce{
    position: relative;
    top: 70px;
    left: 30px;
    width: 45px;
    height: 45px;
}
.buttonr{
    position: relative;
    top: 70px;
    left: 30px;
    width: 22px;
    height: 45px;
}
.buttonl{
    position: relative;
    top: 70px;
    left: 26px;
    width: 23px;
    height: 45px;
}
#buttonzero{
    position: relative;
    top: 70px;
    left: 30px;
    width: 143px;
    height: 45px;
}
#buttonigual{
    position: relative;
    top: 70px;
    left: 30px;
    height: 45px;
    width: 45px;
}



/*  Game   */

#game{
    position: fixed;
    background-color: #44475a;
    width: 550px;
    height: 350px;
    top: 25%;
    left: 50%;
    margin-left: -275px;
    display: none;
    border-radius: 10px;
}
#closegame{
    position: absolute;
    width: 30px;
    left: 100%;
    margin-left: -30px;
    border-radius: 10px;
}
#arena{
    position: absolute;
    background-color: #b6bbc2;
    width: 330px;
    height: 330px;
    top: 10px;
    left: 10px;
}
#score{
    position: absolute;
    background-color: #b6bbc2;
    width: 180px;
    height: 180px;
    left: 100%;
    top: 100%;
    margin-top: -190px;
    margin-left: -190px;
}
#scorepoint{
    position: absolute;
    color: darkslateblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23pt;
    left: 8px;
}
#player1{
    background-color: blue;
    position: absolute;
    width: 30px;
    height: 30px;
}
#começar{
    position: absolute;
    width: 180px;
    height: 40px;
    top: 30%;
    left: 100%;
    margin-left: -190px;
}
#parar{
    position: absolute;
    width: 180px;
    height: 40px;
    top: 30%;
    left: 100%;
    margin-left: -190px;
    display: none;
}
#point{
    position: absolute;
    background-color: chocolate;
    width: 30px;
    height: 30px;
    display: none;
}



/*   Calendario   */

#calendario{
    position: fixed;
    background-color: #44475a;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    top: 20%;
    left: 50%;
    margin-left: -250px;
    display: none;
}
#closecalendario{
    position: absolute;
    width: 30px;
    left: 100%;
    margin-left: -30px;
    border-radius: 10px;
}
.mes{
    position: absolute;
    background-color: rgb(95, 158, 197);
    width: 460px;
    height: 100px;
    top: 50px;
    left: 50%;
    margin-left: -230px;
    border-radius: 10px;
}
#mes{
    position: relative;
    top: -35px;
    font-size: 45pt;
    text-align: center;
    font-family: cursive;
    color: white;
    text-shadow: rgb(19, 79, 116) 1px 1px 4px;
}